@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    /*color scheme*/
    --pink:#F47B7B;
    --black:#2D2C3C;
    --black-light:#3e3c52;
    --gray-dark:#777782;
    --gray-light:#9494A4;
    --white:#fff;
    --white-light:rgb(230, 230, 230);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color:var(--black);
    color:var(--white);
}




.img-style-1 {
    width:35px;
    height:35px;
    border-radius: 100%;
    border:2px solid #fff;
    object-fit: cover;
    object-position: center center;
}


.chatbox {
    width:23rem;
    height:33rem;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    border-radius: 10px;
    color:var(--white-light);
    background-color:var(--black);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}


.header {
    color:var(--white);
    background-color:var(--pink);
    display:flex;
    justify-content: flex-start;
    align-items:center;
    border-radius:10px 10px 0 0;
    height:4rem;
}

/* .header__image {
    width:35px;
    height:35px;
    border-radius: 100%;
    border:2px solid #fff;
    object-fit: cover;
    object-position: center center;
} */

.header__images {
    position: relative;
    margin:0 0rem 0 1rem;
}

.header__image:first-of-type {
    position: relative;
    left:10px;
    z-index:10;
}

.header__image:last-of-type {
    position: relative;
    right:10px;
}


.header__text h1 {
    font-size:0.85rem;
    font-weight:400;
    margin-bottom:0.25rem;
}

.header__text h2 {
    font-size:0.6rem;
    font-weight:400;
}




.chatbox__msg-box {
    position: relative;
}

.chat {
    display:flex;
    flex-direction: row;
    position: relative;
    width:80%;
    margin:3rem auto 0 auto;
    font-size:0.65rem;
    letter-spacing: 0.25px;
}

.profile-img {
    margin-right:1rem;
}


.chat__text-container {
    background-color: var(--black-light);
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:5rem;
    /*top, right, bottom, left */
    padding: 3rem 1.75rem 3rem 1.5rem;
    border-radius: 10px;
    line-height: 2;
}


.chat__text-container::before {
    /*var(--black-light)*/
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid var(--black-light);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    z-index:10;
    left:14%;
    top:20%;
    transform: translate(-14%, -20%) rotate(90deg);
}





.privacy-popup {
    position: absolute;
    background-color:var(--black-light);
    bottom:0;
    border-radius:0 0 10px 10px;
    font-size:0.4rem;
    font-weight: 400;
    height:10rem;
    line-height: 1.8;   
}

.privacy-popup__info {
    width:80%;
    margin:0 auto;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    letter-spacing: 0.25px;
}

.privacy__heading {
    font-weight: 400;
    text-align:center;
}

.privacy__link {
    color:var(--pink);
}

.privacy__btn {
    background:none;
    border:1.75px solid var(--pink);
    color:var(--pink);
    font-size:1rem;
    padding:0.75rem 2rem;
    border-radius:2rem;
    margin-top:1rem;
    cursor: pointer;
}

.privacy__btn:active {
    opacity:0.85;
}